# https://clangd.llvm.org/

# Create Windows-VSCode Symlink:
# "mklink compile_commands.json compileCommands_Project.json"

CompileFlags:
  Add:
    - "/std:c++20"
    - "/TP"
    - "-ferror-limit=0"
  CompilationDatabase: .vscode

InlayHints:
  Enabled: No
  BlockEnd: Yes
  Designators: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24

Index:
  StandardLibrary: No
