# https://clangd.llvm.org/

# Create SymbolicLink in ".vscode" folder
# PowerShell: New-Item -Path compile_commands.json -ItemType SymbolicLink -Value compileCommands_ProjectName.json

CompileFlags:
  Add: [-ferror-limit=0]
  CompilationDatabase: .vscode

InlayHints:
  Enabled: Yes
  BlockEnd: Yes
  Designators: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24
